<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Node/Express and SQL Assessment</title>
    <script type="text/javascript" src= "vendors/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src= "scripts/client.js"></script>
  </head>
  <body>
    <h1> Zoo Data </h1>
    <input type="text" name="animalIn" id="animalIn" value="" placeholder= "type of animal">
    <button type="button" name="button" id="submit">submit</button>
    <div id = "animalDisplay">
    </div>
  </body>
</html>
